[submodule "AnalyzerSDK"]
	path = AnalyzerSDK
	url = https://github.com/saleae/AnalyzerSDK.git
[submodule "LegacyAnalyzerSDK"]
	path = LegacyAnalyzerSDK
	url = https://github.com/saleae/AnalyzerSDK.git
